:root {
  --background: #ffffff;
  --foreground: #171717;
  --selection-color: #ffa80030;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --selection-color: #ffa80030;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "BricolageGrotesque", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Fix for white space issue on Android tablets  */

.main-container {
  height: var(--app-height);
  overflow: hidden; /* Optional */
}

.keyboard-open .footer {
  position: static !important;
}

/* CSS from react */

@font-face {
  font-family: "BricolageGrotesque";
  src: url(/fonts/BricolageGrotesque.ttf) format("truetype");
  font-display: swap;
}

::selection {
  background: var(--selection-color);
}

.heading-overflow-hidden {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  & > * {
    animation: 0.9s slide-up 0.1s cubic-bezier(0, 0.01, 0.01, 1) both;
    letter-spacing: 0px;
    transition: all cubic-bezier(0, 0.01, 0.01, 1) 0.3s;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(150%) rotate(10deg);
  }
  to {
    transform: translateY(0%) rotate(0deg);
  }
}

.animated-block {
  animation: 0.95s slide-up-fade-in cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes slide-up-fade-in {
  from {
    transform: translateY(90px) rotate(1deg);
    opacity: 0;
  }
  to {
    transform: translateY(0%) rotate(0deg);
    opacity: 1;
  }
}

.pop-out-animation {
  animation: 0.5s pop-out 0s ease-in-out both;
}

@keyframes pop-out {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }
  60% {
    transform: scale(0.95);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.slide-down-bounce {
  animation: 0.5s slide-down-bounce 0s ease-in-out both;
}

@keyframes slide-down-bounce {
  0% {
    transform: translateY(-120%);
    opacity: 0;
  }
  60% {
    transform: translateY(20%);
    opacity: 0.7;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* Keeping for future use */

/* .services-css {
	background-image:    radial-gradient(
 circle 20vw at 91.6% 35%,
 rgb(53, 178, 255, 0.25) 0.2%,
 #ffffff00 100.2%
 ), radial-gradient(
 circle 30vw at 16.6% 55%,
 rgb(255, 53, 184, 0.1) 0.2%,
 #fff 100.2%
 )
 } */

.floating-action-buttons {
  animation: 1.1s floating-action-buttons 0s ease-in both;
}

@keyframes floating-action-buttons {
  0% {
    height: 0px;
    width: 0px;
    padding: 0;
    border-radius: 72px;
  }
  10% {
    width: 72px;
    height: 72px;
    padding: 12px;
    border-radius: 72px;
  }
  30% {
    width: 76px;
    height: 76px;
    border-radius: 76px;
  }
  50% {
    width: 72px;
    height: 72px;
    border-radius: 72px;
  }
  70% {
    width: 282px;
    height: 72px;
    border-radius: 12px;
  }
  100% {
    width: 278px;
    height: 72px;
    border-radius: 12px;
  }
}

.slide-up-bounce {
  animation: 0.5s slide-up-bounce 0s ease-out both;
}

@keyframes slide-up-bounce {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  75% {
    transform: translateY(-5px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* Toast Styles */

.Toastify__toast {
  -webkit-backdrop-filter: saturate(220%) blur(10px);
  backdrop-filter: saturate(220%) blur(10px);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  border: 0.5px solid lightgray;
}

.Toastify__toast-body {
  padding: 18px;
}

.liquid-glass {
  box-shadow: inset 0 0 14px 0 rgba(255, 255, 255, 0.3),
    inset -1px -3px 2px 0 rgba(255, 255, 255, 0.3),
    inset 1px 3px 2px 0 rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px) saturate(220%);
}

/* HTML: <div class="ribbon">Your text content</div> */
.ribbon {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.ribbon {
  --f: 0.3em; /* control the folded part*/
  --r: 0.8em; /* control the ribbon shape */

  position: absolute;
  /* bottom: 20px; */
  top: 20px;
  left: calc(-1 * var(--f));
  padding-inline: 1.55em;
  line-height: 1.8;
  background: rgb(28, 51, 79);
  border-top: var(--f) solid #0005;
  border-right: var(--r) solid #0000;
  clip-path: polygon(
    0 100%,
    0 var(--f),
    var(--f) 0,
    var(--f) var(--f),
    100% var(--f),
    calc(100% - var(--r)) calc(50% + var(--f) / 2),
    100% 100%
  );
}
